@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

.header_wrapper {
    width: 100vw;
    height: 95px;
    font-family: 'Roboto Flex', sans-serif;
    z-index: 10000;
}

.header_wrapper .header_main_wrapper {
    width: 100vw;
    height: 35px;
    border-bottom: 1px solid grey;
    background-color: #2B51A1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.header_wrapper .header_main_wrapper .link_wrapper {
    width: 1180px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 0.8em;
}

.header_wrapper .header_main_wrapper .link_wrapper .city {
    font-size: 0.8em;
    width: 8vw;
}

.header_wrapper .header_main_wrapper .link_wrapper .header_mobile {
    font-size: 0.8em;
    margin-left: 2vw;
}

.header_wrapper .header_main_wrapper .link_wrapper .header_phone {
    font-size: 0.8em;
    margin-left: 64%;
}

.header_wrapper .categories_wrapper {
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
    background-color: #FFFFFF;
}

.header_wrapper .categories_wrapper .korzina {
    width: 2.8vw;
    height: 5vh;
    margin-left: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cacaca;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.header_wrapper .categories_wrapper .korzina .products_number {
    position: absolute;
    width: 25px;
    height: 25px;
    text-align: center;
    top: 60%;
    left: -12%;
    font-size: 10px;
    color: white;
    background-color: #2B51A1;
    border-radius: 50%;
    padding: 0.5vh;
    z-index: 100;
}

.header_wrapper .categories_wrapper .categories {
    width: 770px;
    height: 100%;
    display: flex;
    color: #4A75CF;
}

.header_wrapper .categories_wrapper .categories .one_category {
    padding-left: 2vw;
    padding-right: 2vw;
}

.header_wrapper .categories_wrapper .second_wrapper {
    width: 1180px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_wrapper .categories_wrapper .second_wrapper .all {
    color: #4A75CF;
    cursor: pointer;
    border-right: 1px solid #E6E4E4;
    height: 100%;
    width: 170px;
    z-index: 9999;
    display: flex;
    align-items: center;
    position: relative;
}

.header_wrapper .categories_wrapper .second_wrapper .all span {
    font-size: 0.9em;
    margin-left: 0.5vw;
    padding-right: 0.4vw;
}

.header_wrapper .categories_wrapper .second_wrapper .all .all_categories {
    position: absolute;
    left: 0%;
    top: 100%;
    width: 170px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #FFFFFF;
}

.header_wrapper .categories_wrapper .second_wrapper .all .all_categories .category_item {
    height: 5vh !important;
    border-top: 1px solid gray !important;
}
